@model ProyectoHogarDulceCorazonJoelGramajo.Models.Regreso_de_niños

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Regreso_de_niños</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_regreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_regreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo_regreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo_regreso)
        </dd>

        <dt>
            Adopción de niño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopciones.Adopción_de_niño)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
