@model ProyectoHogarDulceCorazonJoelGramajo.Models.Regreso_de_niños

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Regreso_de_niños</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha regreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_regreso)
        </dd>

        <dt>
            Motivo regreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo_regreso)
        </dd>

        <dt>
            Adopción de niño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopciones.Adopción_de_niño)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Regreso_de_niño }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
