@model IEnumerable<ProyectoHogarDulceCorazonJoelGramajo.Models.Regreso_de_niños>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha regreso
        </th>
        <th>
            Motivo regreso
        </th>
        <th>
            Adopción de niño
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_regreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo_regreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adopciones.Adopción_de_niño)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Regreso_de_niño }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Regreso_de_niño }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Regreso_de_niño })
        </td>
    </tr>
}

</table>
