@model ProyectoHogarDulceCorazonJoelGramajo.Models.Candidatos_a_padres_adoptivos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Candidatos a padres adoptivos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Padre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_padre)
        </dd>

        <dt>
            DPI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teléfono)
        </dd>

        <dt>
            Dirección de trabajo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección_de_trabajo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
