@model ProyectoHogarDulceCorazonJoelGramajo.Models.Candidatos_a_padres_adoptivos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidatos_a_padres_adoptivos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_padre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teléfono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teléfono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirección_de_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección_de_trabajo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Padre_adoptivo }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
