@model IEnumerable<ProyectoHogarDulceCorazonJoelGramajo.Models.Candidatos_a_padres_adoptivos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Padre
        </th>
        <th>
            DPI
        </th>
        <th>
            Dirección
        </th>
        <th>
            Correo
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Dirección de trabajo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_padre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DPI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirección)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teléfono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirección_de_trabajo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Padre_adoptivo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Padre_adoptivo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Padre_adoptivo })
        </td>
    </tr>
}

</table>
