@model IEnumerable<ProyectoHogarDulceCorazonJoelGramajo.Models.Fichas_médicas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_de_emisión)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niños.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_emisión)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niños.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Código_ficha_médica }) |
            @Html.ActionLink("Details", "Details", new { id=item.Código_ficha_médica }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Código_ficha_médica })
        </td>
    </tr>
}

</table>
