@model IEnumerable<ProyectoHogarDulceCorazonJoelGramajo.Models.Estados_de_tratamientos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_estado_tratamiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_estado_tratamiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Estado_de_tratamiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.Estado_de_tratamiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Estado_de_tratamiento })
        </td>
    </tr>
}

</table>
