@model ProyectoHogarDulceCorazonJoelGramajo.Models.Niños

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Niños</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUI_niño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUI_niño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Géneros.NombreGenero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Géneros.NombreGenero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Niño }) |
    @Html.ActionLink("Back to List", "Index")
</p>
