@model ProyectoHogarDulceCorazonJoelGramajo.Models.Niños

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Niños</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Niño)

        <div class="form-group">
            <p class = "control-label col-md-2">Nombre</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">CUI niño</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CUI_niño, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CUI_niño, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">Fecha nacimiento</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">Género</p>
            <div class="col-md-10">
                @Html.DropDownList("Género", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Género, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
