@model ProyectoHogarDulceCorazonJoelGramajo.Models.Asignar_padre_a_adopción

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Asignar padre a adopción</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Adopción de niño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopciones.Adopción_de_niño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidatos_a_padres_adoptivos.Nombre_padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidatos_a_padres_adoptivos.Nombre_padre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Padre_adopción }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
