@model IEnumerable<ProyectoHogarDulceCorazonJoelGramajo.Models.Adopciones>

@{
    ViewBag.Title = "Home Page";
}


<style>
    .my_style {
        text-align:center;
    }

    .my_style_p {

    }
</style>

<div class="jumbotron">
    <div style="text-align:center;">
        <h1>Menú de opciones</h1>
    </div>
    <div style="text-align:center;">
        <p class="lead">Seleccione una opción para administrar la información del sistema.</p>
    </div>
    
    <br />


    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Géneros", "Index", "Géneros")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Padecimientos", "Index", "Padecimientos")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Estados de tratamientos", "Index", "Estados_de_tratamientos")
        </p>
    </div>


    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Niños", "Index", "Niños")
        </p>
    </div>



    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Fichas médicas", "Index", "Fichas_médicas")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Asignar padecimiento a ficha médica", "Index", "Asignar_padecimiento_a_ficha_médica")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Candidatos a padres adoptivos", "Index", "Candidatos_a_padres_adoptivos")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Adopciones", "Index", "Adopciones")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Asignar padre a adopción", "Index", "Asignar_padre_a_adopción")
        </p>
    </div>

    <div class="my_style">
        <p class="my_style_p">
            @Html.ActionLink("Regreso de niños", "Index", "Regreso_de_niños")
        </p>
    </div>


</div>

