@model ProyectoHogarDulceCorazonJoelGramajo.Models.Asignar_padecimiento_a_ficha_médica

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Asignar_padecimiento_a_ficha_médica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de diagnóstico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_diagnóstico)
        </dd>

        <dt>
            Código de ficha médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fichas_médicas.Código_ficha_médica)
        </dd>

        <dt>
            Padecimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padecimientos.Nombre_padecimiento)
        </dd>

        <dt>
            Estado de tratamiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados_de_tratamientos.Nombre_estado_tratamiento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
