@model ProyectoHogarDulceCorazonJoelGramajo.Models.Asignar_padecimiento_a_ficha_médica

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Asignar padecimiento a ficha médica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de diagnóstico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_diagnóstico)
        </dd>

        <dt>
            Código de ficha médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fichas_médicas.Código_ficha_médica)
        </dd>

        <dt>
            Padecimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padecimientos.Nombre_padecimiento)
        </dd>

        <dt>
            Estado de tratamiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados_de_tratamientos.Nombre_estado_tratamiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Código_de_asignación_padecimiento }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
