@model ProyectoHogarDulceCorazonJoelGramajo.Models.Asignar_padecimiento_a_ficha_médica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignar_padecimiento_a_ficha_médica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_diagnóstico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_diagnóstico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fichas_médicas.Código_ficha_médica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fichas_médicas.Código_ficha_médica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Padecimientos.Nombre_padecimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padecimientos.Nombre_padecimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados_de_tratamientos.Nombre_estado_tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados_de_tratamientos.Nombre_estado_tratamiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Código_de_asignación_padecimiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
