@model IEnumerable<ProyectoHogarDulceCorazonJoelGramajo.Models.Asignar_padecimiento_a_ficha_médica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha de diagnóstico
        </th>
        <th>
            Código de ficha médica
        </th>
        <th>
            Padecimiento
        </th>
        <th>
            Estado de tratamiento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_diagnóstico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fichas_médicas.Código_ficha_médica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Padecimientos.Nombre_padecimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados_de_tratamientos.Nombre_estado_tratamiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Código_de_asignación_padecimiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.Código_de_asignación_padecimiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Código_de_asignación_padecimiento })
        </td>
    </tr>
}

</table>
