@model ProyectoHogarDulceCorazonJoelGramajo.Models.Padecimientos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Padecimientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_padecimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_padecimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas_adicionales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas_adicionales)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Padecimiento }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
