@model ProyectoHogarDulceCorazonJoelGramajo.Models.Adopciones

@{
    ViewBag.Title = "Create";
}

<h2>Crear registro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adopciones</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class = "control-label col-md-2">Niño</p>
            <div class="col-md-10">
                @Html.DropDownList("Niño", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Niño, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">Fecha adopción</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_adopción, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_adopción, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">Fecha mudanza</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_mudanza, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_mudanza, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
